body {
	font-family: Arial, sans-serif;
	padding-left: 8px;
	background: #4B79A1;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #283E51, #4B79A1);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #cfdef3;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

input,
button {
	padding: 8px;
}

#response {
	margin-top: 8px;
	padding: 15px;
	background: #000000;
	border: 1px solid #000000;
	transition: all 1s ease;
}

#response:hover {
	border: 1px solid #cfdef3
}

pre {
	cursor: pointer;
	user-select: none;
	white-space: pre;
	/* Preserve original whitespace */
}

pre div:hover {
	background: #cfdef3;
	color: green !important;
	font-weight: 600;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.copy-message {
	position: fixed;
	top: 20px;
	right: 20px;
	background: #4CAF50;
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s;
}